<html data-wf-domain="www.The Event Architects.com" data-wf-page="6310c8d5dd8d4e0bb9cf24f0"
    data-wf-site="62025e154b5db67270fdc01e" lang="en" class=" w-mod-js w-mod-ix">

<head>
    <script>
        document.getElementById("intercom-container-body").remove();
        window.Intercom('update', {
            hide_default_launcher: true
        });
    </script>
    <style>
        #intercom-container-body {
            display: none;
        }

        .wf-force-outline-none[tabindex="-1"]:focus {
            outline: none;
        }
    </style>

    {{!-- tested ---------------------------------------------------------------}}

    <meta charset="utf-8">
    <title>Event Management Software | The Event Architects</title>
    <meta
        content="The Event Architects is the only enterprise-grade event management platform that is easy to use and customize. We have all the tools you need to manage your next virtual, hybrid or in-person event."
        name="description">
    <meta content="Event Management Software | The Event Architects" property="og:title">
    <meta
        content="The Event Architects is the only enterprise-grade event management platform that is easy to use and customize. We have all the tools you need to manage your next virtual, hybrid or in-person event."
        property="og:description">
    <meta
        content="https://assets.website-files.com/62025e154b5db67270fdc01e/636c0c510271e5fe22f0a94a_20221109_Website_Open-Graph_Image_Marketing.webp"
        property="og:image">
    <meta content="Event Management Software | The Event Architects" property="twitter:title">
    <meta
        content="The Event Architects is the only enterprise-grade event management platform that is easy to use and customize. We have all the tools you need to manage your next virtual, hybrid or in-person event."
        property="twitter:description">
    <meta
        content="https://assets.website-files.com/62025e154b5db67270fdc01e/636c0c510271e5fe22f0a94a_20221109_Website_Open-Graph_Image_Marketing.webp"
        property="twitter:image">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="WI19BBD7Wy6ZKycHsKGAo2wOeJSAREG9Eey66NBsafg" name="google-site-verification">


    <link href="../public/index.css" rel="stylesheet" type="text/css">
    <style>
        @media (min-width:992px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73e"] {
                opacity: 0;
                -webkit-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73d"] {
                opacity: 0;
                -webkit-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73c"] {
                opacity: 0;
                -webkit-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73b"] {
                opacity: 0;
                -webkit-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-150px, -150px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
        }
    </style>

    <!-- <link rel="stylesheet" href=""> -->
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->

    {{!-- tested --}}



    <script defer="" src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="RiGFHUMx2swYG8hhkHQL1UpupxSTby8O5TZ17h8aEz8">
    <script type="application/javascript" async=""
        src="https://tracking.g2crowd.com/attribution_tracking/conversions/4796.js?p=https://www.The Event Architects.com/&amp;e="></script>
    <style type="text/css">
        #hs-feedback-ui {
            animation-duration: 0.4s;
            animation-timing-function: ease-out;
            display: none;
            height: 0;
            overflow: hidden;
            position: fixed;
            z-index: 2147483647;
            max-width: 100%;
        }

        .hubspot.space-sword #hs-feedback-ui {
            z-index: 1070;
        }

        #hs-feedback-ui.hs-feedback-shown {
            display: block;
        }

        #hs-feedback-fetcher {
            display: none
        }


        @keyframes feedback-slide-in-hs-feedback-left {
            from {
                transform: translate(0, 100%);
            }

            to {
                transform: translate(0, 0);
            }
        }

        @keyframes feedback-slide-out-hs-feedback-left {
            from {
                transform: translate(0, 0);
            }

            to {
                transform: translate(0, 100%);
            }
        }

        #hs-feedback-ui.hs-feedback-left {
            animation-name: feedback-slide-in-hs-feedback-left;
        }

        #hs-feedback-ui.hs-feedback-left.hs-feedback-slid-out {
            animation-name: feedback-slide-out-hs-feedback-left;
            animation-fill-mode: forwards;
        }


        @keyframes feedback-slide-in-hs-feedback-right {
            from {
                transform: translate(0, 100%);
            }

            to {
                transform: translate(0, 0);
            }
        }

        @keyframes feedback-slide-out-hs-feedback-right {
            from {
                transform: translate(0, 0);
            }

            to {
                transform: translate(0, 100%);
            }
        }

        #hs-feedback-ui.hs-feedback-right {
            animation-name: feedback-slide-in-hs-feedback-right;
        }

        #hs-feedback-ui.hs-feedback-right.hs-feedback-slid-out {
            animation-name: feedback-slide-out-hs-feedback-right;
            animation-fill-mode: forwards;
        }


        @keyframes feedback-slide-in-hs-feedback-top {
            from {
                transform: translate(0, -100%);
            }

            to {
                transform: translate(0, 0);
            }
        }

        @keyframes feedback-slide-out-hs-feedback-top {
            from {
                transform: translate(0, 0);
            }

            to {
                transform: translate(0, -100%);
            }
        }

        #hs-feedback-ui.hs-feedback-top {
            animation-name: feedback-slide-in-hs-feedback-top;
        }

        #hs-feedback-ui.hs-feedback-top.hs-feedback-slid-out {
            animation-name: feedback-slide-out-hs-feedback-top;
            animation-fill-mode: forwards;
        }


        #hs-feedback-ui>iframe {
            width: 100%;
            height: 100%;
        }

        #hs-feedback-ui:not(.hs-feedback-top) {
            bottom: 0;
        }

        #hs-feedback-ui.hs-feedback-left {
            left: 0;
        }

        #hs-feedback-ui.hs-feedback-right {
            right: 0;
        }

        .zorse #hs-feedback-ui:not(.hs-feedback-top) {
            bottom: 6px;
        }

        .zorse #hs-feedback-ui.hs-feedback-right {
            right: 0;
        }

        #hs-feedback-ui.hs-feedback-top {
            left: 0;
            top: 0;
            width: 100%;
        }

        #hs-feedback-ui.hs-feedback-nps:not(.hs-feedback-top) {
            width: 480px;
        }

        #hs-feedback-ui.hs-feedback-csat:not(.hs-feedback-top) {
            width: 350px;
        }

        #hs-feedback-ui.hs-feedback-csat.hs-feedback-extended-width:not(.hs-feedback-top) {
            width: 550px;
        }

        @media only screen and (min-width: 544px) {
            #hs-feedback-ui.hs-feedback-csat:not(.hs-feedback-top):not(.hs-feedback-expanded) {
                width: 450px;
            }
        }

        #hs-feedback-ui.hs-feedback-csat.hs-feedback-extended-width:not(.hs-feedback-top) {
            width: 550px !important;
        }

        #hs-feedback-ui.preview.hs-feedback-csat.hs-feedback-callout:not(.hs-feedback-expanded):not(.hs-feedback-top) {
            width: 450px !important;
        }

        @media only screen and (max-width: 768px) {

            #hs-feedback-ui:not(.preview):not(.hs-feedback-callout):not(.hs-feedback-top),
            #hs-feedback-ui.hs-feedback-expanded:not(.preview):not(.hs-feedback-top) {
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 600px) {

            #hs-feedback-ui.preview:not(.hs-feedback-top),
            #hs-feedback-ui.hs-feedback-expanded.preview:not(.hs-feedback-top) {
                width: 100% !important;
            }
        }

        #hs-feedback-ui.hs-feedback-shown~#tally-widget-container,
        #hs-feedback-ui.hs-feedback-shown~#wootric-modal {
            display: none !important;
        }

        /* hide all popups in the same position as us */
        @media only screen and (min-width: 544px) {

            #hs-feedback-ui.hs-feedback-right.hs-feedback-shown~#hubspot-messages-iframe-container,
            #hs-feedback-ui.hs-feedback-right.hs-feedback-shown~.leadinModal-theme-bottom-right-corner,
            #hs-feedback-ui.hs-feedback-left.hs-feedback-shown~.leadinModal-theme-bottom-left-corner,
            #hs-feedback-ui.hs-feedback-top.hs-feedback-shown~.leadinModal-theme-top {
                display: none !important;
            }
        }

        /* hide leadflows when we're tablet-stretched across from them */
        @media only screen and (min-width: 544px) and (max-width: 970px) {

            #hs-feedback-ui.hs-feedback-left.hs-feedback-shown~.leadinModal-theme-bottom-right-corner,
            #hs-feedback-ui.hs-feedback-right.hs-feedback-shown~.leadinModal-theme-bottom-left-corner {
                display: none !important;
            }
        }

        /* hide messages when we're tablet-stretched across from them */
        @media only screen and (max-width: 966px) {
            #hs-feedback-ui.hs-feedback-left.hs-feedback-shown~#hubspot-messages-iframe-container {
                display: none !important;
            }
        }

        @media only screen and (max-width: 544px) {

            /* repeat above rules for small screens when we're set to display on mobile */
            #hs-feedback-ui.hs-feedback-right.hs-feedback-shown:not(.hs-feedback-no-mobile)~#hubspot-messages-iframe-container,
            #hs-feedback-ui.hs-feedback-left.hs-feedback-shown:not(.hs-feedback-no-mobile)~#hubspot-messages-iframe-container,
            #hs-feedback-ui.hs-feedback-right.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-right-corner,
            #hs-feedback-ui.hs-feedback-left.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-left-corner,
            #hs-feedback-ui.hs-feedback-top.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-top,
            #hs-feedback-ui.hs-feedback-left.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-right-corner,
            #hs-feedback-ui.hs-feedback-right.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-left-corner {
                display: none !important;
            }

            /* don't display us on small screens if we're set to not display on mobile */
            #hs-feedback-ui.hs-feedback-no-mobile {
                display: none;
            }
        }
    </style>

    {{!-- tested ----------------------------------------------------------------------------------}}
    <style>
        nav {
            height: 10rem;
            width: 100vw;
            background-color: #131418;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
            display: flex;
            position: fixed;
            z-index: 10;
        }

        /*Styling logo*/
        .logo {
            padding: 1vh 1vw;
            text-align: center;
        }

        .logo img {
            height: 8 rem;
            width: 8rem;
        }

        /*Styling Links*/
        .nav-links {
            display: flex;
            list-style: none;
            width: 88vw;
            padding: 0 0.7vw;
            justify-content: space-evenly;
            align-items: center;
            text-transform: uppercase;
        }

        .nav-links li a {
            text-decoration: none;
            margin: 0 0.7vw;
        }

        .nav-links li a:hover {
            color: #61DAFB;
        }

        .nav-links li {
            position: relative;
        }

        .nav-links li a::before {
            content: "";
            display: block;
            height: 3px;
            width: 0%;
            background-color: #61DAFB;
            position: absolute;
            transition: all ease-in-out 250ms;
            margin: 0 0 0 10%;
        }

        .nav-links li a:hover::before {
            width: 80%;
        }

        /*Styling Buttons*/
        .login-button {
            background-color: transparent;
            border: 1.5px solid #f2f5f7;
            border-radius: 2em;
            padding: 0.6rem 0.8rem;
            margin-left: 2vw;
            font-size: 2rem;
            cursor: pointer;

        }

        .login-button:hover {
            color: #131418;
            background-color: #f2f5f7;
            border: 1.5px solid #f2f5f7;
            transition: all ease-in-out 350ms;
        }

        .join-button {
            color: #131418;
            background-color: #61DAFB;
            border: 1.5px solid #61DAFB;
            border-radius: 2em;
            padding: 0.6rem 0.8rem;
            font-size: 2rem;
            cursor: pointer;
        }

        .join-button:hover {
            color: #f2f5f7;
            background-color: transparent;
            border: 1.5px solid #f2f5f7;
            transition: all ease-in-out 350ms;
        }

        /*Styling Hamburger Icon*/
        .hamburger div {
            width: 30px;
            height: 3px;
            background: #f2f5f7;
            margin: 5px;
            transition: all 0.3s ease;
        }

        .hamburger {
            display: none;
        }

        /*Stying for small screens*/
        @media screen and (max-width: 800px) {
            nav {
                position: fixed;
                z-index: 3;
            }

            .hamburger {
                display: block;
                position: absolute;
                cursor: pointer;
                right: 5%;
                top: 50%;
                transform: translate(-5%, -50%);
                z-index: 2;
                transition: all 0.7s ease;
            }

            .nav-links {
                position: fixed;
                background: #131418;
                height: 100vh;
                width: 100%;
                flex-direction: column;
                clip-path: circle(50px at 90% -20%);
                -webkit-clip-path: circle(50px at 90% -10%);
                transition: all 1s ease-out;
                pointer-events: none;
            }

            .nav-links.open {
                clip-path: circle(1000px at 90% -10%);
                -webkit-clip-path: circle(1000px at 90% -10%);
                pointer-events: all;
            }

            .nav-links li {
                opacity: 0;
            }

            .nav-links li:nth-child(1) {
                transition: all 0.5s ease 0.2s;
            }

            .nav-links li:nth-child(2) {
                transition: all 0.5s ease 0.4s;
            }

            .nav-links li:nth-child(3) {
                transition: all 0.5s ease 0.6s;
            }

            .nav-links li:nth-child(4) {
                transition: all 0.5s ease 0.7s;
            }

            .nav-links li:nth-child(5) {
                transition: all 0.5s ease 0.8s;
            }

            .nav-links li:nth-child(6) {
                transition: all 0.5s ease 0.9s;
                margin: 0;
            }

            .nav-links li:nth-child(7) {
                transition: all 0.5s ease 1s;
                margin: 0;
            }

            li.fade {
                opacity: 1;
            }
        }

        /*Animating Hamburger Icon on Click*/
        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .line2 {
            transition: all 0.7s ease;
            width: 0;
        }

        .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    </style>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-959962094"></script>

    <script src="https://bat.bing.com/p/action/17164675.js" type="text/javascript" async=""
        data-ueto="ueto_72a82fbf6f"></script>

    <meta http-equiv="origin-trial"
        content="A9NDHLTHKsZgo1JfHpPijEEQTGPA3Jm+mEE45Y3SOdTG4BULBZiDsziPMmseoj/wnnWJnQR5gjiUWFVIx3+2+w0AAAB9eyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IlNlbmRGdWxsVXNlckFnZW50QWZ0ZXJSZWR1Y3Rpb24iLCJleHBpcnkiOjE2ODQ4ODYzOTksImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">

    <meta http-equiv="origin-trial"
        content="A727AcAeLCei/ZogJHBlJUS63SxP6AeIROo7qXrkjrxkoxBu0eSSmypAHmGYwk4HjBMQp5nxCFODzfVnUIe31AQAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjg4MDgzMTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">

    <meta http-equiv="origin-trial"
        content="A727AcAeLCei/ZogJHBlJUS63SxP6AeIROo7qXrkjrxkoxBu0eSSmypAHmGYwk4HjBMQp5nxCFODzfVnUIe31AQAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjg4MDgzMTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">

    <script type="text/javascript" async=""
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/959962094/?random=1679530171956&amp;cv=11&amp;fst=1679530171956&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be33k0&amp;u_w=1536&amp;u_h=864&amp;url=https%3A%2F%2Fwww.The Event Architects.com%2F&amp;ref=https%3A%2F%2Fwww.google.com%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Event%20Management%20Software%20%7C%20The Event Architects&amp;did=dZTQ1Zm&amp;gdid=dZTQ1Zm&amp;auid=1198088624.1679530126&amp;uaa=x86&amp;uab=64&amp;uafvl=Google%2520Chrome%3B111.0.5563.65%7CNot(A%253ABrand%3B8.0.0.0%7CChromium%3B111.0.5563.65&amp;uamb=0&amp;uap=Windows&amp;uapv=10.0.0&amp;uaw=0&amp;data=event%3Dgtag.config&amp;rfmt=3&amp;fmt=4"></script>
    <meta http-equiv="origin-trial"
        content="AxMeahpLO9nDB/vFXFMGOd/JLhKWx/mOjErAi0qFXDzWuMSYoKpfjFtFfQWMCx+Qg39PMxDJHSLlAJF/H8rtmAwAAABveyJvcmlnaW4iOiJodHRwczovL3MucGluaW1nLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <link rel="stylesheet" href="../public/notif_js_css/notif.css">
</head>


<body>
    {{!-- body tested --}}
    <div style="height:100px">
        <nav>


            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul>
            </ul>
            <ul style="margin-top: 20px;">
                <a href='/'>
                    <img src="https://cdn-icons-png.flaticon.com/512/3942/3942578.png" alt="ddd"
                        style=" background-color:#eab043 height:20px; width:50px; border-radius:60px; ">
                </a>
            </ul>
            <ul class="nav-links" style="margin-left: 100px;">

                {{!-- <li><a href="#" style="color:white">Home</a></li> --}}
                {{!-- <li><a href="#">Solutions</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li> --}}
                {{!-- <li><button class="login-button" href="#">Login</button></li>
                <li><button class="join-button" href="#">Join</button></li> --}}



                <div class="notification ghanti" style="margin-left:900px;">

                    <div class="notBtn ghanti" href="#">
                        <ion-icon name="notifications-outline" style="padding-top: 5px;"></ion-icon>

                        <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->

                        <div class="box ghanti">
                            <div class="display ghanti">
                                <div class="nothing ghanti">
                                    <i class="fas fa-child stick ghanti"></i>
                                    <div class="cent ghanti">Looks Like your all caught up!</div>
                                </div>

                                {{#if event_data}}
                                <div class="cont ghanti">
                                    {{#if (notEmpty event_data.waitlist)}}

                                    <!-- Fold this div and try deleting evrything inbetween -->
                                    {{#each event_data.waitlist}}
                                    <div class="sec new ghanti">
                                        <form action="/waitlist_clicked" method="get">
                                            <input type="hidden" name="event" value="{{this.code}}">
                                            <div class="txt ghanti" onclick="this.parentNode.submit()"
                                                style='padding-left:15%'>
                                                Now you can register for
                                                {{this.name}}!!</div>
                                        </form>
                                    </div>
                                    {{/each}}
                                    {{/if}}
                                    {{#if (notEmpty event_data.Events)}}
                                    <!-- Fold this div and try deleting evrything inbetween -->
                                    {{#each event_data.Events}}
                                    <div class="sec new ghanti">
                                        <form action="/notif_clicked" method="get">
                                            <input type="hidden" name="event" value="{{@key}}">
                                            <div class="txt ghanti" onclick="this.parentNode.submit()"
                                                style='padding-left:15%'>
                                                There has been an Update
                                                to event
                                                {{this.name}}!!</div>
                                            <div class="txt sub ghanti" onclick="this.parentNode.submit()">Edited on:
                                                {{#formatTime
                                                this.time
                                                "YYYY-MM-DD"}}{{/formatTime}}</div>
                                        </form>
                                    </div>
                                    {{/each}}
                                    {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
                </script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                <script src="../public/notif_js_css/notif.js"></script>
                <div class="messages">

                </div>




                {{!-- <li><button class="join-button" href="#">Logout</button></li> --}}
                <a href='logout'>
                    <img src="https://png.pngtree.com/png-vector/20190505/ourmid/pngtree-vector-logout-icon-png-image_1023261.jpg"
                        alt="ddd"
                        style=" background-color:#eab043 height:20px; width:50px; border-radius:30px; margin-right:30px">
                </a><a href='/profile'>
                    <img src="data:{{image.contentType}};base64,
              {{image.data}} " alt="ddd"
                        style=" background-color:#eab043 height:20px; width:50px; border-radius:50px; ">
                </a>

            </ul>

        </nav>
    </div>

    <div id="hs-feedback-fetcher" title="submit hubspot feedback">
        <iframe frameborder="0" title="Submit HubSpot product feedback"
            src="https://app.hubspot.com/feedback-web-fetcher"></iframe>
    </div>
    <div class="main-hero-section wf-section">
        <div class="side-by-side-wrap-header"
            style=" padding: 30px; border-radius: 5%; background-image:linear-gradient(45deg,#bd0480,#e88e06)">
            <div class="side-50-percent">

                <h1 class="h1-copy-header">Event Management Software</h1>

                <h2 class="h2-copy-header"> The Event Architects</h2>

                <div class="spacer-25-px"></div>

                <p class="mw-550">Revolutionize Your Event and Create Memorable Events with Our Comprehensive
                    Management System.</p>
                <div class="spacer-25-px"></div>
                <!-- <div class="rating-badges-header"><div class="rating-badges-header-columns w-row"><div class="column-7 w-col w-col-6 w-col-medium-6 w-col-small-6 w-col-tiny-6">
    
    <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/624de94719d75dbbe95d9539_G2%20Ratings.webp" loading="lazy" alt="link to G2 list of the best event management software" class="g2-rating"></div>

<div class="column-8 w-col w-col-6 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62562279e36c458e722ea6ce_Captera%20Ratings.webp" loading="lazy" alt="link to Capterra list of top event planning software solutions" class="capterra-rating"></div></div></div> -->

                {{!-- tested -----------------------------------------------------------------------------------}}
                <div class="spacer-60px"></div>

                <div class="book-a-demo-cta-button-header">
                    <a href="#jump-start" class="book-demo-cta-header w-inline-block">

                        <div class="book-demo-cta-text-header">Let's get started</div>
                    </a>
                </div>
            </div>

            <div class="spacer-80px"></div>
            <div class="side-50-percent">

                <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/628bd51fd40d0bfc33cb1fce_Home-page-Header.webp"
                    loading="lazy"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 500px, (max-width: 991px) 561.2421875px, 461.2421875px"
                    srcset="https://assets.website-files.com/62025e154b5db67270fdc01e/628bd51fd40d0bfc33cb1fce_Home-page-Header-p-500.webp 500w, https://assets.website-files.com/62025e154b5db67270fdc01e/628bd51fd40d0bfc33cb1fce_Home-page-Header-p-800.webp 800w, https://assets.website-files.com/62025e154b5db67270fdc01e/628bd51fd40d0bfc33cb1fce_Home-page-Header.webp 1253w"
                    alt="Screens of our cloud-based event management solution showing functionality on our mobile event app and an online event registration page on a desktop"
                    class="header-image">
            </div>
        </div>
    </div>

    <div class="section-logo-bar">

        <div class="logo-bar-center">
            <div class="wide-only-heading-wrap-center">
                <h2 class="center-copy-h2">Many <span></span>companies and organizations trust The Event Architects
                    with their events.</h2>
            </div>
        </div>
        <div class="moving-block">
            <div class="marquee-horizontal small-marquee">
                <div class="marquee-horizontal-css w-embed">


                    <style>
                        .track-horizontal {
                            position: absolute;
                            white-space: nowrap;
                            will-change: transform;
                            animation: marquee-horizontal 75s linear infinite;
                            /* manipulate the speed of the marquee by changing "40s" line above*/
                        }

                        @keyframes marquee-horizontal {
                            from {
                                transform: translateX(0);
                            }

                            to {
                                transform: translateX(-50%);
                            }
                        }
                    </style>

                </div>
                <div class="track-horizontal">
                    <div class="collection-list-wrapper-4 w-dyn-list">
                        <div role="list" class="collection-list w-dyn-items">
                            <div role="listitem" class="small-marquee w-dyn-item">
                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63f3bbcf38c64f64c0c32cd7_colliers.webp"
                                    loading="lazy" alt="Colliers"
                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90px, (max-width: 991px) 100px, 300px"
                                    srcset="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63f3bbcf38c64f64c0c32cd7_colliers-p-500.webp 500w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63f3bbcf38c64f64c0c32cd7_colliers-p-800.webp 800w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63f3bbcf38c64f64c0c32cd7_colliers-p-1080.webp 1080w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63f3bbcf38c64f64c0c32cd7_colliers.webp 1200w"
                                    class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines.webp"
                                    loading="lazy" alt="Carnival"
                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90px, (max-width: 991px) 100px, 300px"
                                    srcset="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines-p-500.webp 500w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines-p-800.webp 800w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines.webp 1233w"
                                    class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">
                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad607d9a624bef94b86692_ACS-logo.webp"
                                    loading="lazy" alt="ACS" class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd34153140f5869c2abbf8_Xerox-logo.webp"
                                    loading="lazy" alt="Xerox"
                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90px, (max-width: 991px) 100px, 300px"
                                    srcset="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd34153140f5869c2abbf8_Xerox-logo-p-500.webp 500w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd34153140f5869c2abbf8_Xerox-logo-p-800.webp 800w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd34153140f5869c2abbf8_Xerox-logo.webp 1024w"
                                    class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad6095b0871d7462bd74d0_Salesforce%20Logo.webp"
                                    loading="lazy" alt="Salesforce" class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60a07a881dcb1ea183d5_amazon_PNG21.webp"
                                    loading="lazy" alt="Amazon" class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60aadd43e2bf356dc5c0_jfrog-logo.webp"
                                    loading="lazy" alt="Jfrog" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">
                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60bfb0871d3851bd7590_postmates-Logo.webp"
                                    loading="lazy" alt="Postmates" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">
                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad6123910c70154ab25537_zapier-logo_black.webp"
                                    loading="lazy" alt="Zapier" class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item"><img
                                    src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad62ba67a7fc30852f06b9_Stanford-university.webp"
                                    loading="lazy" alt="Stanford" class="small-marquee-image"></div>
                            <div role="listitem" class="small-marquee w-dyn-item">


                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad606fdd43e275e46dbfaf_tedx_logo.webp"
                                    loading="lazy" alt="TEDx" class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">


                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad62c5111f5877d94766bd_Cloudbees_logo.webp"
                                    loading="lazy" alt="Cloudbees"
                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90px, (max-width: 991px) 100px, 300px"
                                    srcset="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad62c5111f5877d94766bd_Cloudbees_logo-p-500.webp 500w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad62c5111f5877d94766bd_Cloudbees_logo.webp 752w"
                                    class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines.webp"
                                    loading="lazy" alt="Carnival"
                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90px, (max-width: 991px) 100px, 300px"
                                    srcset="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines-p-500.webp 500w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines-p-800.webp 800w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60623ca69864e1e2cb05_carnivallines.webp 1233w"
                                    class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad607d9a624bef94b86692_ACS-logo.webp"
                                    loading="lazy" alt="ACS" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad608733698b56acd46dd2_TomFerry_Logo.webp"
                                    loading="lazy" alt="Tom Ferry" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad6095b0871d7462bd74d0_Salesforce%20Logo.webp"
                                    loading="lazy" alt="Salesforce" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60a07a881dcb1ea183d5_amazon_PNG21.webp"
                                    loading="lazy" alt="Amazon" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60aadd43e2bf356dc5c0_jfrog-logo.webp"
                                    loading="lazy" alt="Jfrog" class="small-marquee-image">
                            </div>

                            <div role="listitem" class="small-marquee w-dyn-item"><img
                                    src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad60bfb0871d3851bd7590_postmates-Logo.webp"
                                    loading="lazy" alt="Postmates" class="small-marquee-image"></div>
                            <div role="listitem" class="small-marquee w-dyn-item">
                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd3524ad5c6010e83c93ba_The%20Home%20Depot.webp"
                                    loading="lazy" alt="The Home Depot" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad62ba67a7fc30852f06b9_Stanford-university.webp"
                                    loading="lazy" alt="Stanford" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63ad606fdd43e275e46dbfaf_tedx_logo.webp"
                                    loading="lazy" alt="TEDx" class="small-marquee-image">
                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                                <img src="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd35d5021c262797a589a9_Delta_logo.webp"
                                    loading="lazy" alt="Delta Airlines"
                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90px, (max-width: 991px) 100px, 300px"
                                    srcset="https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd35d5021c262797a589a9_Delta_logo-p-500.webp 500w, https://assets.website-files.com/620b4dfc30add2618d5e13a5/63dd35d5021c262797a589a9_Delta_logo.webp 881w"
                                    class="small-marquee-image">
                            </div>
                        </div>
                    </div>

                    <div class="w-dyn-list">
                        <div role="list" class="collection-list w-dyn-items">

                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item">

                            </div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>

                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>

                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                            <div role="listitem" class="small-marquee w-dyn-item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- tested ---------------------------------------------------------- --}}

    <style>
        .engaging-events-section wf-section {
            z-index: 100000000;
        }
    </style>

    <div class="engaging-events-section wf-section">

        <div class="side-by-side-wrap-stacked">
            <h2 class="h2-centered-white">
                <span>All your events under one roof</span>
            </h2>

            <p class="white-p-centered">The Event Architects works on any device. Our intuitive, easily customizable
                platform makes delivering engaging virtual, in-person, and hybrid event experiences easy.</p>
        </div>

        <div class="spacer-125px"></div>
        <div class="side-by-side-wrap--extended">
            <div class="side-with-images">
                <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events.webp"
                    loading="lazy" data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73b"
                    sizes="(max-width: 479px) 0px, (max-width: 991px) 100vw, (max-width: 1919px) 41vw, 496.796875px"
                    alt="event management app with event management tools such as push notifications and mobile app for attendees with floor plan and agenda for the entire event."
                    srcset="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-500.webp 500w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-800.webp 800w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-1080.webp 1080w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-1600.webp 1600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-2000.webp 2000w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-2600.webp 2600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4afb26709521def4bf522_The Event Architects-mobile-events-p-3200.webp 3200w"
                    class="tablet-image expo-hall" style="">

                <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events.webp"
                    loading="lazy" data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73c"
                    sizes="(max-width: 479px) 0px, (max-width: 991px) 100vw, (max-width: 1919px) 41vw, 496.796875px"
                    alt="all-in-one event software that helps event organizers with a virtual and in-person event management system that is easier to use than Cvent."
                    srcset="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-500.webp 500w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-800.webp 800w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-1080.webp 1080w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-1600.webp 1600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-2000.webp 2000w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-2600.webp 2600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b04b52784499119822cb_The Event Architects-hybrid-events-p-3200.webp 3200w"
                    class="tablet-image analytics" style="">



                <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events.webp"
                    loading="lazy" data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73d"
                    sizes="(max-width: 479px) 0px, (max-width: 991px) 100vw, (max-width: 1919px) 41vw, 496.796875px"
                    alt="virtual event technology with free event website templates, online ticketing, registration forms, payment processing, event reporting and more."
                    srcset="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-500.webp 500w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-800.webp 800w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-1080.webp 1080w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-1600.webp 1600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-2000.webp 2000w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-2600.webp 2600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4af6dc8c1bdcbfcf0daf5_The Event Architects-virtual-events-p-3200.webp 3200w"
                    class="tablet-image attendee-engagement" style="">

                <img class="tablet-image live-streaming"
                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events.webp"
                    alt="in-person event planning software with event planning tools including event marketing, lead retrieval, sponsorship management, workflow automations and post-event surveys."
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                    sizes="(max-width: 479px) 0px, (max-width: 991px) 100vw, (max-width: 1919px) 41vw, 496.796875px"
                    data-w-id="152366f8-9b79-e086-ea1c-f80742b8e73e" loading="lazy"
                    srcset="https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-500.webp 500w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-800.webp 800w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-1080.webp 1080w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-1600.webp 1600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-2000.webp 2000w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-2600.webp 2600w, https://assets.website-files.com/62025e154b5db67270fdc01e/63a4b08b527844097f982825_The Event Architects-in-person-events-p-3200.webp 3200w">
            </div>

            <div class="spacer-125px"></div>

            <div class="side-with-buttons">
                <a data-w-id="152366f8-9b79-e086-ea1c-f80742b8e741" href="/solutions/in-person-events"
                    class="feature-button w-inline-block">
                    <div class="icon-wrap">

                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62027499aae733198f24f9d0_camera-play-1.svg"
                            loading="lazy" alt="" class="icon-home">
                    </div>
                    <div class="button-name">In-Person Events &gt;</div>
                </a>
                <div class="spacer-45px"></div>

                <a data-w-id="152366f8-9b79-e086-ea1c-f80742b8e746" href="/virtual-events"
                    class="feature-button w-inline-block">
                    <div class="icon-wrap">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/620631d983e12fda625d7792_bubble-emoticon.svg"
                            loading="lazy" alt="" class="icon-home">
                    </div>
                    <div class="button-name">Virtual Events &gt;</div>
                </a>

                <div class="spacer-45px"></div>
                <a data-w-id="152366f8-9b79-e086-ea1c-f80742b8e74b" href="/hybrid-events"
                    class="feature-button w-inline-block">
                    <div class="icon-wrap"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/620631e2231f738f88d37987_chart-growth.svg"
                            loading="lazy" alt="" class="icon-home"></div>

                    <div class="button-name">Hybrid Events &gt;</div>
                </a>
                <div class="spacer-45px"></div>
                <a data-w-id="152366f8-9b79-e086-ea1c-f80742b8e750" href="/event-app"
                    class="feature-button w-inline-block">
                    <div class="icon-wrap"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/620631e9b2095b00043992c0_lan.svg"
                            loading="lazy" alt="Mobile apps" class="icon-home"></div>

                    <div class="button-name">Mobile Apps &gt;</div>
                </a>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------- -->

    <div class="section-off-white wf-section" style="background-image:linear-gradient(170deg,#ed44b5,#eab043,#ffffff)">
        <div class="side-by-side-wrap-stacked">

            <h2 class="h2-centered-dark">All your tools in one place</h2>
            <p class="dark-paragraph-centered">Manage every step of the event lifecycle with one single, powerful
                software solution.</p>
        </div>

        <div class="heading-and-content-spacer"></div>

        <div class="scroll-overflow-wrapper" id='jump-start'>
            <div class="w-layout-grid _3x3-grid"><a id="w-node-_6983685d-c305-8f03-501d-41bf9d63163d-b9cf24f0"
                    href="/reg-ticket" class="feature-box w-inline-block">

                    <div class="icon-circle">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62122f5370481821c44a1cf3_rocket.svg"
                            loading="lazy"
                            alt="online registration and event ticket sales with easy credit card payment and invoicing"
                            class="icon">
                    </div>

                    <h3 class="feature-h3">Registration &amp;&nbsp;Ticketing</h3>
                    <div class="feature-description">Effortlessly customize your branded event page and registration
                        workflows. Get paid online and on site.</div>
                    <div class="feature-outline"></div>
                </a><a id="w-node-f40df787-da1c-57b9-6881-fed98ad544cd-b9cf24f0" href="/platform/badge-printing"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/62122f528d9114dfd370c5ae_profile.svg"
                            loading="lazy" alt="badges that streamline networking and lead capture" class="icon">
                    </div>
                    <h3 class="feature-h3">Badge Design &amp; Printing</h3>
                    <div class="feature-description">Design and print professional badges. Choose to pre-print or
                        print them on demand as part of your onsite check-in.</div>
                </a><a id="w-node-_92d3f0b9-0922-7364-3b48-471833bfd951-b9cf24f0" href="/platform/attendee-engagement"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/62063dd0349d29ce60b1706a_group-work.svg"
                            loading="lazy"
                            alt="attendee engagement tools for everyone to connect and collaborate with each other"
                            class="icon"></div>
                    <h3 class="feature-h3">Attendee Engagement</h3>
                    <div class="feature-description">Delight attendees with gamification, speed networking, surveys,
                        polls. Our mobile app will keep them engaged on the go.</div>
                </a><a id="w-node-ac428026-0c29-1853-8614-d52c8942c478-b9cf24f0" href="/broadcast"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/62027499aae733198f24f9d0_camera-play-1.svg"
                            loading="lazy" alt="broadcasting tools for successful events of any size" class="icon">
                    </div>
                    <h3 class="feature-h3">Broadcasting</h3>
                    <div class="feature-description">Stream live video or pre-recorded content with The Event
                        Architects Studio or with your favorite live streaming tool.</div>
                </a><a id="w-node-_7b0bd0dd-a49a-2aa4-1efc-61930104fa6e-b9cf24f0" href="/solutions/lead-capture"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/6206497dbac0a833e976bdf3_file-preview-1.svg"
                            loading="lazy" alt="exhibitors save time capturing leads with a mobile app and QR codes"
                            class="icon"></div>
                    <h3 class="feature-h3">Lead Capture </h3>
                    <div class="feature-description">Exhibitors use our mobile app for a faster, more efficient lead
                        capture. Real-time event engagement data helps them better qualify leads.</div>
                </a><a id="w-node-_81d46ea4-3d99-35f8-02e2-bb991061f764-b9cf24f0" href="/platform/exhibitors-sponsors"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/6212373a30c27cfff81ddb4b_cash-dollar.svg"
                            loading="lazy" alt="exhibitor and stakeholder management for any type of event"
                            class="icon"></div>
                    <h3 class="feature-h3">Exhibitors &amp; Sponsors </h3>
                    <div class="feature-description">Help exhibitors and sponsors manage the event from start to
                        finish. Empower them to create a fully branded event experience.</div>
                </a><a id="w-node-_1a331993-5c6b-0847-3c6d-0e01ef3fdf10-b9cf24f0" href="/platform/in-depth-analytics"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/62063dcf8b7a868a9f060bb5_graph.svg"
                            loading="lazy"
                            alt="real-time event data reporting for conferences, trade shows, seminars, fundraising events and webinars"
                            class="icon"></div>
                    <h3 class="feature-h3">In-Depth Analytics</h3>
                    <div class="feature-description">Use dashboards and reports to track performance and to supply
                        exhibitors with valuable event engagement data.</div>
                </a><a id="w-node-_348a300b-3c33-1397-e16f-dcc285c5097a-b9cf24f0" href="/platform/integrations"
                    class="feature-box w-inline-block">
                    <div class="icon-circle"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/6212373aacf6fa3e3c174029_laptop-phone.svg"
                            loading="lazy"
                            alt="integrations that facilitate data flow to popular CRMS for easy follow up via email marketing and other event promotion tactics"
                            class="icon"></div>
                    <h3 class="feature-h3">Integrations</h3>
                    <div class="feature-description">Easily connect The Event Architects to your tech ecosystem. We
                        have native integrations with all popular CRMs.</div>
                </a><a id="w-node-f8bad5f7-ea8b-efe4-792f-4a1776a623c8-b9cf24f0" href="/platform/white-label"
                    class="feature-box w-inline-block">
                    <div class="icon-circle">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62063dce77915b48e7c844e2_label-1.svg"
                            loading="lazy" alt="white-labeled events, subject to separate pricing " class="icon">
                    </div>
                    <h3 class="feature-h3">White Labeling</h3>

                    <div class="feature-description">Put your brand front and center. We offer end-to-end branding
                        throughout the attendee and exhibitor experience.</div>
                </a></div>
        </div>
        <a href="/platform" class="button big w-inline-block">
            <div>Explore More</div>
        </a>
    </div>


    <div class="section-midnight wf-section" style="background-image:linear-gradient(90deg,#740f5c,#e87706)">
        <div class="side-by-side-wrap top-align relative image-last">
            <div class="div-block-37">
                <h3 class="white-h3">Our service, your peace of mind</h3>
                <p class="p-40px-bottompad-left">Our powerful tools are super easy to set up. And were always here
                    if you have questions or need us to troubleshoot issues. Now thats peace of mind!</p>
                <div class="benefit-wrapper">
                    <div class="icon-square">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/6206497eec5a15621bc3ebac_headset.svg"
                            loading="lazy" alt="24/7 Customer Support for all your virtual and hybrid event questions"
                            class="icon small">
                        <div class="icon-square-outline"></div>
                    </div>
                    <div class="benefit-info">
                        <div class="benefit-title">24/7 Support From Real People</div>
                        <p class="paragraph-5">Get 24/7 support from real people (no bots here!). Our support team
                            responds in under 30 seconds - at any time of the day!</p>

                        <a href="/platform/support" class="learn-more-button w-inline-block">
                            <div>Learn more</div>
                            <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/6206454f33ce8029c7f39488_svg__.svg"
                                loading="lazy" alt="arrow" class="arrow-lm">
                        </a>
                    </div>
                </div>

                {{!-- tested -------------------------------------------------------------------------}}

                <div class="benefit-wrapper">
                    <div class="icon-square">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/6206497db6a3108543fa43d6_lamp-1.svg"
                            loading="lazy" alt="Detailed Knowledge base for all your virtual and hybrid event FAQs"
                            class="icon small">
                    </div>

                    <div class="benefit-info">
                        <div class="benefit-title">Comprehensive Knowledge Base</div>
                        <p class="paragraph-6">Get the most out of The Event Architects with our detailed product
                            documentation. Learn how to use our platform when its convenient for you.</p>
                        <a href="https://support.The Event Architects.com/en/" class="learn-more-button w-inline-block">
                            <div>Learn more</div>
                            <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/6206454f33ce8029c7f39488_svg__.svg"
                                loading="lazy" alt="arrow" class="arrow-lm">
                        </a>
                    </div>
                </div>
                <div class="benefit-wrapper">

                    <div class="icon-square"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/62063dd0c28c6813cabf3b48_magic-wand-1.svg"
                            loading="lazy"
                            alt="Event management system with Industry insights for your next virtual or hybrid event"
                            class="icon small"></div>
                    <div class="benefit-info">
                        <div class="benefit-title">Industry Insights &amp; Best Practices</div>
                        <p class="paragraph-7">Head over to our blog to get the latest industry news, insider tips
                            and event management best practices.</p><a href="/blog"
                            class="learn-more-button w-inline-block">
                            <div>Learn more</div><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/6206454f33ce8029c7f39488_svg__.svg"
                                loading="lazy" alt="arrow" class="arrow-lm">
                        </a>
                    </div>
                </div>
            </div>
            <div class="div-block-31 w-clearfix">
                <!-- <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/63ad6a97f5bff0a34a6641fd_Natashia.webp" loading="lazy" sizes="(max-width: 479px) 0px, (max-width: 991px) 100vw, (max-width: 1919px) 30vw, 450px" srcset="https://assets.website-files.com/62025e154b5db67270fdc01e/63ad6a97f5bff0a34a6641fd_Natashia-p-500.webp 500w, https://assets.website-files.com/62025e154b5db67270fdc01e/63ad6a97f5bff0a34a6641fd_Natashia.webp 605w" alt="best event management software for 24/7 customer support " class="image-20"> -->
            </div>
        </div>
    </div>
    <div class="section-off-white wf-section">
        <div class="container-2 w-container">

            <div class="w-layout-grid testimonial-grid">
                <div id="w-node-_8d248494-17a5-2a5c-2212-ff819a873886-b9cf24f0" class="testimonial-text-2">
                    <h2 class="heading">See why event organizers choose The Event Architects</h2>
                </div>
                <div class="testimonials-wrap">
                    <div class="testimonial-cards-wrap-left">
                        <div class="testimonial-card" style="background-color: rgb(255, 0, 98);"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">The entire virtual event offering was completely
                                new to us. Your platform was very user-friendly. The HELP feature and the CHAT were
                                fantastic! The response time for your Chat was excellent. I hope we get to use your
                                service again soon.</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c55765d3f669473a7ec040_Michele.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Michele E.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">Your quick support response is great! Also we
                                love how customizable the platform is. The continuous upgrades are also great
                                because we feel heard in providing feedback.</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c557650d5e9275a20b107e_Nicole.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Nicole G.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card" style="background-color: rgb(255, 0, 98);"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">This is a powerful and versatile platform for
                                hosting in-person and online events. It is very cost effective compared to other
                                platforms. My favorite aspect of the platform is the engagement tools.</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c55762f6343e4335a1a48a_Denise.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Denise L.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card" style="background-color: rgba(255, 115, 0, 0.892);"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">I highly recommend The Event Architects for
                                those who are looking for a good, reliable, easy to use and functional virtual
                                conference platform.</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c55761b0342d947ecf06fe_Ceren.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Ceren A.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">Great Virtual Conference Platform! We had a
                                great experience with The Event Architects. They were very responsive and helpful in
                                setting up the platform and supporting us during the launch of the event.</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c55762273781fdd0867217_Jay.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Jay H.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-cards-wrap-right">
                        <div class="testimonial-card" style="background-color: rgb(255, 115, 0);"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">The features of the platform are easy to set up,
                                creative in format, and allows ease of use by attendees. Customer service is
                                excellent! As a first-time conference planner, nervous and with a million questions,
                                the reps helped me through it all. They were thorough, understanding, knowledgeable,
                                and patient! (much appreciated!)</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c5576532910ab384d66e58_Lori.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Lori T.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card" style="background-color: rgb(255, 47, 0);"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">The Event Architects features are very intuitive
                                and easy to use. The customer service is awesome and makes the experience that much
                                better!</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c55762273781b153867216_Crystal.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Crystal F.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card" style="background-color: rgb(255, 0, 208);"><img
                                src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">
                            <p class="body italic bottom-margin-20">The platform can handle just about anything you
                                would want for a virtual event and the customization options are robust too. The
                                support team is fantastic and accessible at a moment's notice - huge benefit!</p>
                            <div class="testimonial-author-wrap"><img
                                    src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c5576286cd7839da87df79_Dave.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">
                                    <p class="body">Dave F.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-card" style="background-color: rgb(255, 0, 98);">
                            <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/636512910bb372da125b4de4_yellow-block-quote.svg"
                                loading="lazy" alt="" class="yellow-block-quote">

                            <p class="body italic bottom-margin-20">
                                The Event Architects has everything I need and nothing I don't. Chat support is
                                quick and expert-level. The homepage video greeting popup is really helpful. It's
                                really easy to train new staff to do content updates and the pricing is very
                                reasonable. The Event Architects is a pretty complete and well thought-out platform.
                            </p>
                            <div class="testimonial-author-wrap">

                                <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/63c5576629588d3d88a848d0_Tony.webp"
                                    loading="lazy" alt="" class="testimonial-image">
                                <div class="testimonial-author-2">

                                    <p class="body">Tony A.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer wf-section" style="background-image:linear-gradient(90deg,#740f5c,#fb7f03)">
        <div class="w-layout-grid footer-grid">

            <div id="w-node-bce795c9-f712-a132-2062-d12336dd6ae2-36dd6ae0" class="footer-group-div">


                <a href="tel:" class="footer-link">Phone: 9803132665</a>

                <a href="mailto:pratiksh.sk@gmail.com?subject=I%20have%20a%20question"
                    class="footer-link">Email:&nbsp;pratiksh.sk@gmail.com</a>

                <div class="w-layout-grid social-grid">
                    <a id="w-node-bce795c9-f712-a132-2062-d12336dd6ae9-36dd6ae0"
                        href="https://www.linkedin.com/company/The Event Architects/" target="_blank"
                        class="social-link w-inline-block">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62068ee518aee1877056204b_linkedin.svg"
                            loading="lazy" alt="LinkedIn"></a>
                    <a id="w-node-bce795c9-f712-a132-2062-d12336dd6aeb-36dd6ae0"
                        href="https://www.facebook.com/The Event Architects" target="_blank"
                        class="social-link w-inline-block">
                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62068ee5c7d890d231b68d52_facebook.svg"
                            loading="lazy" alt="facebook"></a>

                    <a id="w-node-bce795c9-f712-a132-2062-d12336dd6aed-36dd6ae0"
                        href="https://twitter.com/The Event Architects" target="_blank"
                        class="social-link w-inline-block">

                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62068ee4349d295c51b4e051_twitter.svg"
                            loading="lazy" alt="Twitter"></a>

                    <a id="w-node-bce795c9-f712-a132-2062-d12336dd6aef-36dd6ae0"
                        href="https://instagram.com/The Event Architects/" target="_blank"
                        class="social-link w-inline-block">

                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/62068ee4ab35e375f19b237b_insta.svg"
                            loading="lazy" alt="Instagram"></a>
                </div>
                <div class="w-layout-grid compliance-grid-copy"><a
                        id="w-node-c634a366-c51f-4e58-2c53-3fe7bb02cf0e-36dd6ae0" href="/platform/security"
                        class="link-block-3 w-inline-block">

                        <img src="https://assets.website-files.com/62025e154b5db67270fdc01e/6334301a7d23883124627bef_SOC%202.webp"
                            loading="lazy" alt="SOC 2 Type 2 badge" class="soc-2-badge"></a>

                    <a id="w-node-c634a366-c51f-4e58-2c53-3fe7bb02cf10-36dd6ae0" href="/platform/security"
                        class="w-inline-block"><img
                            src="https://assets.website-files.com/62025e154b5db67270fdc01e/63342fed622cf6cec2f659a8_GDPR%20compliant.webp"
                            loading="lazy" alt="GDPR Badge" class="gdpr"></a>
                </div>
            </div>
            <div id="w-node-bce795c9-f712-a132-2062-d12336dd6af1-36dd6ae0" class="footer-group-div">
                <div class="footer-category-title">Solutions</div>

                <a href="#" class="footer-link">User Conferences</a><a href="/solutions/trade-shows"
                    class="footer-link">Trade Shows</a>

                <a href="/solutions/product-launches" class="footer-link">Product Launches</a><a
                    href="/solutions/fundraisers" class="footer-link">Fundraisers</a>

                <a href="/solutions/seminars-training" class="footer-link">Seminars &amp;&nbsp;Training</a>

                <a href="/solutions/career-fairs" class="footer-link">Career Fairs</a>
                <div class="spacer-30px"></div>
                <div class="footer-category-title">Enterprise</div><a href="/enterprise-event-management"
                    class="footer-link">Overview</a><a href="/platform/white-label" class="footer-link">White Label
                </a>
            </div>
            <div id="w-node-bce795c9-f712-a132-2062-d12336dd6b02-36dd6ae0" class="footer-group-div">
                <div class="footer-category-title">Platform</div><a href="/platform/ticketing-registration"
                    class="footer-link">Ticketing &amp;&nbsp;Registration</a><a href="/platform/event-check-in"
                    class="footer-link">Event Check-In</a><a href="/platform/badge-printing" class="footer-link">Badge
                    Printing</a><a href="/solutions/lead-capture" class="footer-link">Lead
                    Capture</a><a href="/platform/attendee-engagement" class="footer-link">Attendee Engagement</a><a
                    href="/platform/gamification" class="footer-link">Gamification</a><a
                    href="/platform/event-customization" class="footer-link">Event Customizations</a><a
                    href="/platform/integrations" class="footer-link">Integrations</a><a
                    href="/platform/main-stage-breakouts" class="footer-link">Main Stage &amp;&nbsp;Breakouts</a><a
                    href="/platform/integrated-live-streaming" class="footer-link">Live Streaming</a><a
                    href="/platform/networking" class="footer-link">Networking</a>

                <a href="/platform/in-depth-analytics" class="footer-link">In-Depth Analytics</a><a
                    href="/platform/exhibitors-sponsors" class="footer-link">Exhibitors &amp;&nbsp;Sponsors</a>
            </div>

            <div id="w-node-bce795c9-f712-a132-2062-d12336dd6b15-36dd6ae0" class="footer-group-div">
                <div class="footer-category-title">Resources</div><a href="/about-us" class="footer-link">About The
                    Event Architects</a>

                <a href="/about-us/careers" class="footer-link">Join The Event Architects</a><a href="/partner-program"
                    class="footer-link">Partner Program</a>

                <a href="/blog" class="footer-link">Blogs &amp;&nbsp;Insights</a>

                <a href="https://www.The Event Architects.com/events" class="footer-link">Upcoming Events</a><a
                    href="/platform/support" class="footer-link">Customer Support</a>

                <a href="https://updates.The Event Architects.com/en" target="_blank" class="footer-link">Product
                    Updates</a><a href="https://support.The Event Architects.com/en" target="_blank"
                    class="footer-link">Knowledge Base</a>

                <a href="https://status.The Event Architects.com/" target="_blank" class="footer-link">Status
                    Check</a><a href="https://developer.The Event Architects.com/docs" target="_blank"
                    class="footer-link">Developers</a>

                <a href="https://ecosystem.The Event Architects.com/" target="_blank" class="footer-link">App
                    Ecosystem</a>
            </div>
        </div>
        <div class="legal-note">

            <div class="legal-link">Copyright 2023 The Event Architects</div>
            <div class="legal-link-wrap"><a href="/privacy/privacy" class="legal-link">Privacy Policy</a>

                <div class="spacer-25-px"></div>

                <a href="/terms-conditions" class="legal-link">Terms of Use</a>
            </div>
        </div>
    </div>

    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62025e154b5db67270fdc01e"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

    {{!--
    <script src="https://assets.website-files.com/62025e154b5db67270fdc01e/js/The Event Architects.337599646.js"
        type="text/javascript"></script> --}}
    <!--[if lte IE 9]>
                
                <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    <!-- Start of HubSpot Embed Code -->
    {{!--
    <script type="text/javascript" id="hs-script-loader" async="" defer=""
        src="//js.hs-scripts.com/8377389.js"></script> --}}
    <!-- End of HubSpot Embed Code -->

    <script>

        $("input").each(function () {
            $(this).attr("name", $(this).attr("data-name"));
        });

        $("select").each(function () {
            $(this).attr("name", $(this).attr("data-name"));
        });



    </script>


    <!-- Footer Code -->


    {{!-- tested
    --------------------------------------------------------------------------------------------------------------------------}}


    <script type="text/javascript">
        $('form[action^="https://api.hsforms.com"]').each(function (i) {
            $(this).find("input[type=checkbox]").val("true")
            $(this).submit(function (e) {
                e.preventDefault()
                const formData = new FormData(e.target)


                let myData = [...formData.entries()];

                let myFixedData = [];

                Object.entries(myData).forEach(([key, value]) => {
                    let vr = value[1];

                    if (typeof vr === 'object') {
                        vr = "file.png"
                    }

                    let x = { "name": value[0], "value": vr }
                    myFixedData.push(x);
                });



                const parsedFormData = myFixedData;

                const goToWebinarWebinarKey = parsedFormData.find(input => input.name === 'goToWebinarWebinarKey')?.value
                const sfdcCampaignId = parsedFormData.find(input => input.name === 'sfdcCampaignId')?.value
                const hutk = document.cookie.replace(/(?:(?:^|.*;\s*)hubspotutk\s*\=\s*([^;]*).*$)|^.*$/, "$1") || undefined
                console.log(hutk)
                const processingPrompt = $(this).find("[id*='gdpr-processing-prompt']")
                const communicationConsent = parsedFormData.filter(item => item.name.includes('LEGAL_CONSENT')).map(item => {
                    const element = $(`#${item.name.replace(/(:|\.|\[|\]|,|=|@)/g, "\\$1")}`)[0]
                    const label = $("span[for='" + $(element).attr('id').replace(/(:|\.|\[|\]|,|=|@)/g, "\\$1") + "']")
                    return {
                        value: element.checked,
                        text: label.text(),
                        subscriptionTypeId: parseInt(item.name.split("LEGAL_CONSENT.subscription_type_")[1])
                    }
                })
                const ignoredFields = ["cc-num", "cc-number", "gdpr", "LEGAL_CONSENT", "goToWebinarWebinarKey", "sfdcCampaignId"]
                const data = {
                    "fields": parsedFormData.filter(item => !ignoredFields.find(ignoredField => item.name.includes(ignoredField))),
                    "context": {
                        "pageUri": window.location.href,
                        "pageName": document.title,
                        "sfdcCampaignId": sfdcCampaignId,
                        "goToWebinarKey": goToWebinarWebinarKey,
                        "hutk": hutk,

                    },
                    ...(!processingPrompt) ? {}
                        : {
                            "legalConsentOptions": {
                                "consent": {
                                    ...(!processingPrompt) ? {}
                                        : {
                                            "consentToProcess": true,
                                            "text": processingPrompt.text(),
                                        },
                                    ...(!communicationConsent) ? {}
                                        : {
                                            "communications": communicationConsent
                                        }
                                }
                            }
                        }
                }
                const final_data = JSON.stringify(data)
                $.ajax({
                    url: e.target.action,
                    method: "POST",
                    data: final_data,
                    contentType: "application/json",
                    success: function (response) {
                        if (response) {
                            if (response.inlineMessage) {
                                const parent = $(e.target).parent()
                                parent.children("form").css("display", "none")
                                parent.children(".w-form-done").css("display", "block").html(response.inlineMessage)
                            } else if (response.redirectUri) {
                                window.location.href = response.redirectUri
                            }
                        } else {
                            console.log('response but no inlineMessage or redirectUri')
                        }
                    },
                    error: function () {
                        console.log("error on the form submitting")
                        $(e.target).css('display', 'none').siblings('.w-form-fail').css('display', 'block')
                    }
                })
            })
        })
    </script>


    <style>
        .w-form-done p {
            color: black;
            font-size: 15px;
            font-weight: 500;
        }
    </style>



    <script>

        // REQUEST A DEMO - iframe with cookies
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }




        function setSourceTrackingCookie() {
            let query = window.location.search.substring(1);
            setCookie("sourcetracking", query, 30);
        }






        //get url paramteres, if UTM parameters exist, set sourcetracking cookie
        let searchParams = new URLSearchParams(window.location.search)
        if (searchParams.has('utm_campaign') && searchParams.has('utm_source') && searchParams.has('utm_medium')) {
            setSourceTrackingCookie();
        }


        if ($("#request-a-demo-iframe").length > 0) {
            $("#request-a-demo-iframe").append(createRequestADemoIframe());
        }


        if ($(".request-a-demo-iframe").length > 0) {
            $(".request-a-demo-iframe").each(function () {
                $(this).append(createRequestADemoIframe());
            })

        }

        Intercom('update', {
            "hide_default_launcher": true;
        })

    </script>
    {{!--
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
    --}}

    <script type="text/javascript"
        id="">!function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "1039778966086218"); fbq("track", "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1039778966086218&amp;ev=PageView&amp;noscript=1"></noscript>
    <script type="text/javascript"
        id="">(function (d, e, f, b, c, a) { c = ""; b = "https://tracking.g2crowd.com/attribution_tracking/conversions/" + d + ".js?p\x3d" + encodeURI(e) + "\x26e\x3d" + c; a = document.createElement("script"); a.type = "application/javascript"; a.async = !0; a.src = b; f.getElementsByTagName("head")[0].appendChild(a) })("4796", document.location.href, document);</script>
    <script type="application/ld+json">
{ "@context" : "https://schema.org",
  "@type" : "Organization",
  "name":"The Event Architects",
  "url" : "https://www.The Event Architects.com/",
  "description":"Virtual &amp; hybrid events platform that drives growth.",
  "email": "info@The Event Architects.com",
  "telephone": "857-254-8035",
 "founder": "Jon Kazarian",
 "foundingDate": "2015",
 "sameAs": ["https://www.facebook.com/The Event Architects","https://instagram.com/The Event Architects/","https://www.linkedin.com/company/The Event Architects/","https://twitter.com/The Event Architects"]
}
</script>
</body>

</html>